<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victorzhang.recommendation.mapper.CommentMapper">

    <resultMap id="comment" type="com.victorzhang.recommendation.domain.Comment">
        <id column="id" property="id"/>
        <result column="resource_id" property="resourceId"/>
        <result column="user_id" property="userId"/>
        <result column="comment_content" property="commentContent"/>
        <result column="comment_time" property="commentTime"/>
    </resultMap>

    <select id="count" resultType="int" parameterType="java.util.Map">
        SELECT COUNT(*) FROM resource_comment rc
        LEFT JOIN resource r
        ON rc.resource_id = r.id
        <where>
            <if test="userId != null and userId != ''">
                AND rc.user_id = #{userId}
            </if>
            <if test="resourceName != null and resourceName != ''">
                AND r.resource_name = #{resourceName}
            </if>
            <if test="resourceType != null and resourceType != ''">
                AND r.resource_type = #{resourceType}
            </if>
            <if test="startDate != null and startDate != ''">
                AND rc.comment_time >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND #{endDate} >= rc.comment_time
            </if>
        </where>
    </select>

    <select id="listPaging" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT r.resource_name, rc.comment_content, CAST(rc.id as CHAR(19)) AS id,
        DATE_FORMAT(rc.comment_time,'%Y-%m-%d %H:%i:%s') AS comment_time
        FROM resource_comment rc
        LEFT JOIN resource r
        ON rc.resource_id = r.id
        <where>
            <if test="userId != null and userId != ''">
                AND rc.user_id = #{userId}
            </if>
            <if test="resourceName != null and resourceName != ''">
                AND r.resource_name = #{resourceName}
            </if>
            <if test="resourceType != null and resourceType != ''">
                AND r.resource_type = #{resourceType}
            </if>
            <if test="startDate != null and startDate != ''">
                AND rc.comment_time >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND #{endDate} >= rc.comment_time
            </if>
        </where>
        ORDER BY rc.comment_time DESC LIMIT ${begin},${pageSize}
    </select>

    <update id="update" parameterType="com.victorzhang.recommendation.domain.Comment">
        UPDATE resource_comment SET
        comment_content = #{commentContent}
        WHERE id = #{id}
    </update>

    <delete id="remove" parameterType="java.lang.String">
        DELETE FROM resource_comment WHERE id = #{id}
    </delete>

    <delete id="removeByResourceId" parameterType="java.lang.String">
        DELETE FROM resource_comment WHERE resource_id = #{resourceId}
    </delete>

    <select id="listByResourceId" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT c.comment_content,  DATE_FORMAT(c.comment_time,'%Y-%m-%d %H:%i:%s') AS comment_time, u.realname
        FROM resource_comment c
        LEFT JOIN user u
        ON c.user_id = u.id
        WHERE c.resource_id = #{resourceId}
        ORDER BY c.comment_time DESC
    </select>

    <insert id="save" parameterType="com.victorzhang.recommendation.domain.Comment">
        INSERT INTO resource_comment (id, comment_content, user_id, resource_id, comment_time)
        VALUES (#{id},#{commentContent},#{userId}, #{resourceId}, #{commentTime})
    </insert>

</mapper>