<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victorzhang.cfs.mapper.FlagMapper">

    <update id="updateFlag" parameterType="java.lang.String">
        UPDATE flag SET user_item_flag = #{flag}
    </update>

    <select id="getFlagValue" resultType="java.util.Map">
        SELECT user_item_flag FROM flag
    </select>

</mapper>