<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victorzhang.cfs.mapper.LogMapper">

    <insert id="save" parameterType="com.victorzhang.cfs.domain.Log">
        INSERT INTO log (id, log_type, log_content, user_id, user_date, user_ip)
        VALUES (#{id},#{logType},#{logContent},#{userId},#{userDate},#{userIp})
    </insert>

    <select id="listLogType" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT DISTINCT(log_type) FROM log
        <where>
            <if test="userId != null and userId != ''">
                user_id = #{userId}
            </if>
        </where>
    </select>

</mapper>