<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victorzhang.recommendation.mapper.MessageMapper">

    <resultMap id="message" type="com.victorzhang.recommendation.domain.Message">
        <id column="id" property="id"/>
        <result column="msg_content" property="msgContent"/>
        <result column="receive_user_id" property="receiveUserId"/>
        <result column="send_user_id" property="sendUserId"/>
        <result column="send_time" property="sendTime"/>
        <result column="send_user_ip" property="sendUserIp"/>
        <result column="is_read" property="isRead"/>
        <result column="read_time" property="readTime"/>
        <result column="read_ip" property="readIp"/>
    </resultMap>

    <select id="list" resultMap="message" parameterType="java.lang.String">
        SELECT msg_content,CAST(id as CHAR(19)) AS id FROM message
        WHERE receive_user_id = #{receiveUserId} AND is_read=#{isRead}
        ORDER BY send_time DESC LIMIT 0,5
    </select>

    <update id="update" parameterType="com.victorzhang.recommendation.domain.Message">
        UPDATE message SET
        is_read = #{isRead}, read_time=#{readTime},read_ip=#{readIp}
        WHERE id = #{id}
    </update>

    <insert id="save" parameterType="java.util.List">
        INSERT INTO message
        (id, msg_content, receive_user_id, send_user_id, send_time, send_user_ip, is_read)
        VALUES
        <foreach collection="list" item="msg" separator=",">
            (#{msg.id}, #{msg.msgContent}, #{msg.receiveUserId}, #{msg.sendUserId}, #{msg.sendTime}, #{msg.sendUserIp}, #{msg.isRead})
        </foreach>
    </insert>

    <select id="listPaging" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT DATE_FORMAT(msg.send_time,'%Y-%m-%d %H:%i:%s') AS send_time,msg.msg_content,msg.send_user_ip,user.realname
        FROM message msg
        LEFT JOIN user ON
        msg.receive_user_id = user.id
        <where>
            <if test="receiveUserId != null and receiveUserId != ''">
                AND msg.receive_user_id = #{receiveUserId}
            </if>
            <if test="isRead != null and isRead != ''">
                AND msg.is_read = #{isRead}
            </if>
            <if test="startDate != null and startDate != ''">
                AND msg.send_time >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND #{endDate} >= msg.send_time
            </if>
        </where>
        ORDER BY msg.send_user_id,msg.read_time DESC LIMIT ${begin},${pageSize}
    </select>

    <select id="count" resultType="int" parameterType="java.util.Map">
        SELECT COUNT(*) FROM message msg
        LEFT JOIN user
        ON msg.receive_user_id = user.id
        <where>
            <if test="receiveUserId != null and receiveUserId != ''">
                AND msg.receive_user_id = #{receiveUserId}
            </if>
            <if test="isRead != null and isRead != ''">
                AND msg.is_read = #{isRead}
            </if>
            <if test="startDate != null and startDate != ''">
                AND msg.send_time >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND #{endDate} >= msg.send_time
            </if>
        </where>
    </select>
</mapper>