<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victorzhang.recommendation.mapper.UserMapper">

    <resultMap id="user" type="com.victorzhang.recommendation.domain.User">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="realname" property="realname"/>
        <result column="user_idcard" property="userIdcard"/>
        <result column="user_mobile" property="userMobile"/>
        <result column="user_email" property="userEmail"/>
        <result column="random_code" property="randomCode"/>
        <result column="gender" property="gender"/>
        <result column="tag" property="tag"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>
    </resultMap>

    <select id="get" resultMap="user" parameterType="com.victorzhang.recommendation.domain.User">
        SELECT id, role_id, username, realname, user_email, random_code FROM user
        <where>
            <if test="username != null and username != ''">
                AND username = #{username}
            </if>
            <if test="userEmail != null and userEmail != ''">
                AND user_email = #{userEmail}
            </if>
            <if test="password != null and password != ''">
                AND password = #{password}
            </if>
        </where>
    </select>


    <select id="getById" resultMap="user" parameterType="java.lang.String">
        SELECT username, tag
        FROM user
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.victorzhang.recommendation.domain.User">
        UPDATE user SET
        <trim suffixOverrides=",">
            <if test="roleId != null and roleId != ''">
                role_id=#{roleId},
            </if>
            <if test="username != null and username != ''">
                username=#{username},
            </if>
            <if test="password != null and password != ''">
                password=#{password},
            </if>
            <if test="realname != null and realname != ''">
                realname=#{realname},
            </if>
            <if test="userIdcard != null and userIdcard != ''">
                user_idcard=#{userIdcard},
            </if>
            <if test="userMobile != null and userMobile != ''">
                user_mobile=#{userMobile},
            </if>
            <if test="userEmail != null and userEmail != ''">
                user_email=#{userEmail},
            </if>
            <if test="randomCode != null and randomCode != ''">
                random_code=#{userIdcard},
            </if>
            <if test="gender != null and gender != ''">
                gender=#{gender},
            </if>
            <if test="tag != null and tag != ''">
                tag=#{tag},
            </if>
            <if test="gmtModify != null and gmtModify != ''">
                gmt_modify=#{gmtModify},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <select id="doJudgePasswordIsRight" resultType="boolean" parameterType="java.util.Map">
        SELECT count(*) FROM user
        WHERE id = #{id}
        AND password = #{password}
    </select>

    <select id="list" resultMap="user">
        SELECT CAST(id as CHAR(19)) AS id FROM user
    </select>

    <select id="getUserInfo" resultType="java.util.Map" parameterType="java.lang.String">
        SELECT user.username,user.realname,user.user_idcard,user.user_mobile,user.user_email,role.rolename,user.gender,user.tag
        FROM user
        LEFT JOIN role
        ON role.id = user.role_id
        WHERE user.id = #{userId}
    </select>

    <select id="listUserType" resultType="java.util.Map">
        SELECT rolename FROM role
    </select>

    <select id="count" resultType="int" parameterType="java.util.Map">
        SELECT COUNT(*) FROM user
        LEFT JOIN role
        ON role.id = user.role_id
        <where>
            <if test="username != null and username != ''">
                AND user.username = #{username}
            </if>
            <if test="rolename != null and rolename != ''">
                AND role.rolename = #{rolename}
            </if>
            <if test="startDate != null and startDate != ''">
                AND user.gmt_create >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND #{endDate} >= user.gmt_create
            </if>
        </where>
    </select>

    <select id="listPaging" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT CAST(user.id as CHAR(19)) AS id, user.username, user.realname, role.rolename, user.user_mobile
        FROM user
        LEFT JOIN role
        ON role.id = user.role_id
        <where>
            <if test="username != null and username != ''">
                AND user.username = #{username}
            </if>
            <if test="rolename != null and rolename != ''">
                AND role.rolename = #{rolename}
            </if>
            <if test="startDate != null and startDate != ''">
                AND user.gmt_create >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND #{endDate} >= user.gmt_create
            </if>
        </where>
        ORDER BY user.gmt_create DESC LIMIT ${begin},${pageSize}
    </select>

</mapper>