<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victorzhang.cfs.mapper.UserMapper">

    <resultMap id="user" type="com.victorzhang.cfs.domain.User">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="realname" property="realname"/>
        <result column="user_idcard" property="userIdcard"/>
        <result column="user_mobile" property="userMobile"/>
        <result column="user_email" property="userEmail"/>
        <result column="random_code" property="randomCode"/>
        <result column="gender" property="gender"/>
        <result column="tag" property="tag"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modify" property="gmtModify"/>

    </resultMap>

    <select id="getUserByUsernameAndPassword" resultMap="user" parameterType="java.util.Map">
        SELECT id, role_id, realname FROM user
        <where>
            username = #{username} AND password = #{password}
        </where>
    </select>

    <select id="getUserByEmail" resultMap="user" parameterType="java.lang.String">
        SELECT id,username,user_email,random_code FROM user
        <where>
            user_email = #{email}
        </where>
    </select>

    <select id="getUserByUsername" resultMap="user" parameterType="java.lang.String">
        SELECT id,random_code FROM user
        <where>
            username = #{username}
        </where>
    </select>

    <select id="getById" resultMap="user" parameterType="java.lang.String">
        SELECT username FROM user
        <where>
            id = #{id}
        </where>
    </select>

    <update id="update" parameterType="com.victorzhang.cfs.domain.User">
        UPDATE user SET
        <trim suffixOverrides=",">
            <if test="roleId != null and roleId != ''">
                role_id=#{roleId},
            </if>
            <if test="username != null and username != ''">
                username=#{username}
            </if>
            <if test="password != null and password != ''">
                password=#{password},
            </if>
            <if test="realname != null and realname != ''">
                realname=#{realname},
            </if>
            <if test="userIdcard != null and userIdcard != ''">
                user_idcard=#{userIdcard},
            </if>
            <if test="userMobile != null and userMobile != ''">
                user_mobile=#{userMobile},
            </if>
            <if test="userEmail != null and userEmail != ''">
                user_email=#{userEmail},
            </if>
            <if test="randomCode != null and randomCode != ''">
                random_code=#{userIdcard},
            </if>
            <if test="gender != null and gender != ''">
                gender=#{gender},
            </if>
            <if test="tag != null and tag != ''">
                tag=#{tag},
            </if>
            <if test="gmtModify != null and gmtModify != ''">
                gmt_modify=#{gmtModify},
            </if>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="doJudgePasswordIsRight" resultType="boolean" parameterType="java.util.Map">
        SELECT count(*) FROM user
        WHERE id = #{id}
        AND password = #{password}
    </select>

</mapper>